<template name="enter">
	<div class="container enter">
		<div class="form-wrapper">
			<form action="" id="enter-form" class="enter-form">
				<div class="form-group">
					<label for="e-mail">Google-mail address</label>
					<input type="email" id="e-mail" class="form-control" placeholder="Enter email">
				</div>
				<div class="form-group">
					<label for="pass">Password</label>
					<input type="password" class="form-control" placeholder="Password" id="pass">
				</div>
				<button type="submit" class="btn btn-primary btn-block btn-lg">Enter</button>
			</form>
		</div>
	</div>
</template>