<head>
  <title>Meteor_test</title>
</head>

<body>
	<header>
		{{> google}}
	</header>
	<div class="main">
		{{> hello}}
		{{> previous_queries}}
		{{> search}}
		{{> map}}
		{{> list_result}}
	</div>
</body>

<template name="google">
  	
</template>

<template name="previous_queries">

</template>

<template name="search">

</template>

<template name="map">

</template>

<template name="list_result">

</template>

<template name="hello">
  <button>Click Me</button>
  <p>You've pressed the button {{counter}} times.</p>
</template>